<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Somos la tienda de videojuegos con el mejor catalogo de videojuegos online y al mejor precio">
    <meta name="keywords" content="games, videogames, pc, computers, gamers">
    <meta name="author" content="Diego Sanchez, David Coo, Nicolas Carcamo">
    <title>Classic Games</title>
    <link rel="stylesheet" href="../css\Styles.css">
    <script src="../js/main.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="icon" href="../icons/favicon_2.svg">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Source+Code+Pro&display=swap" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
    <link rel="stylesheet" type="text/css" href="ruta/a/slick.css"/>
</head>

<body class="cuerpo">
    <nav class="izquierda">
        <img class="logo" src="../img/MetaGamesLogo_2.png" alt="Logo de Meta-Games">

        <ul>
            <li> <img src="../icons/Inicio.svg"> <a href="../index.html">Inicio</a></li>
            <li> <img src="../icons/Nosotros.svg"> <a href="Nosotros.html">Nosotros</a></li>
            <li> <img src="../icons/Retro.svg"> <a href="RetroGames.html">Retro Games</a></li>
            <li> <img src="../icons/Nuevos.svg"> <a href="NewGames.html">New Games</a></li>
            <li> <img src="../icons/Clasicos.svg"> <a href="ClassicGames.html">Classic Games</a></li>
            <li> <img src="../icons/Conactanos.svg"> <a href="Contactanos.html">Contacto</a></li>
        </ul>
    </nav>

    <header class="cabecera">
        <div class="search">
            <span class="uil uil-search">
            </span>
            <input placeholder="Buscar...." type="text" />
            
          </div>
        <a class="sing-in" href="Registrarse.html">Registrarse</a>
        <a class="log-in" href="IniciarSesion.html">Iniciar Sesión</a>
    </header>

    <main class="contenido">
        <div class="titulo-paginaG">
            <span>Grand Theft Auto V</span>
        </div>
        <img class="estrellas" src="../img/starplus.png">
        <img class="estrellas" src="../img/starplus.png">
        <img class="estrellas" src="../img/starplus.png">
        <img class="estrellas" src="../img/starplus.png">
        <img class="estrellas" src="../img/starplusmid.png">
        <h1 class="puntaje">4.7</h1>
    
        <div class="slide">
            <div class="slide-innerM">
                <input class="slide-open" type="radio" id="slide-1" name="slide" aria-hidden="true" hidden=""
                    checked="checked">
                <div class="slide-item"><img src="../img/gta5banner (1).jpg"></div>
    
                <input class="slide-open" type="radio" id="slide-2" name="slide" aria-hidden="true" hidden="">
                <div class="slide-item">
                    <iframe class="iframegames" width="1000" height="600"
                        src="https://www.dailymotion.com/video/x88n0l4" title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                </div>
    
                <label for="slide-2" class="slide-controlM next control-1"><img src="../icons/right-arrow.svg"></label>
                <label for="slide-1" class="slide-controlM prev control-2"><img src="../icons/left-arrow.svg"></label>
            </div>
        </div>
    
        <h1 class="genero"><u>Género</u></h1>
        <br>
        <h1 class="generoP">• Acción, Mundo Abierto •</h1>
        <br>
        <h1 class="generoP">Descripción:</h1>
        <div>
            <h1 class="generoPa">Un joven estafador callejero, un ladrón de bancos retirado y un psicópata aterrador se meten en problemas y tendrán que llevar a cabo una serie de peligrosos golpes para sobrevivir en una ciudad en la que no pueden confiar en nadie y mucho menos los unos en los otros.</h1>
        </div>
    
        <div>
            <h1 class="generoPe"><u>Especificaciones</u></h1>
            <br>
            <div class="requerimientos">
                <div class="cubiculo">
                    <h1 class="generoPx">Requerimientos Mínimos:</h1>
                    <ul class="listreq">
                        <li><strong>Sistema Operativo:</strong> Windows 10 de 64 bits, Windows 8.1 de 64 bits, Windows 8 de 64 bits, Windows 7 de 64 bits con Service Pack 1, Windows Vista de 64 bits con Service Pack 2* (*tarjeta de video NVIDIA recomendada si se utiliza Vista).</li>
                        <li><strong>Procesador:</strong> Intel Core 2 Quad CPU Q6600 de 2.4 GHz (4 CPU)/AMD Phenom 9850 Quad-Core (4 CPU) de 2.5 GHz.</li>
                        <li><strong>Memoria:</strong> 4 GB de RAM</li>
                        <li><strong>Tarjeta de video:</strong> NVIDIA 9800 GT de 1 GB/AMD HD 4870 de 1 GB (DX 10, 10.1, 11).</li>
                        <li><strong>Tarjeta de sonido:</strong> 100% compatible con DirectX 10.</li>
                        <li><strong>Espacio en disco:</strong> 90 GB de espacio disponible</li>
                    </ul>
                </div>
    
                <div class="cubiculo">
                    <h1 class="generoPx">Requerimientos Recomendados:</h1>
                    <ul class="listreq">
                        <li><strong>Sistema Operativo:</strong> Windows 10 de 64 bits, Windows 8.1 de 64 bits, Windows 8 de 64 bits, Windows 7 de 64 bits con Service Pack 1.</li>
                        <li><strong>Procesador:</strong> Intel Core i5 3470 de 3.2 GHz (4 CPU)/AMD X8 FX-8350 de 4 GHz (8 CPU).</li>
                        <li><strong>Memoria:</strong> 8 GB de RAM</li>
                        <li><strong>Tarjeta de video:</strong> NVIDIA GTX 660 de 2 GB/AMD HD7870 de 2 GB.</li>
                        <li><strong>Tarjeta de sonido:</strong> 100% compatible con DirectX 10.</li>
                        <li><strong>Espacio en disco:</strong> 90 GB de espacio disponible</li>
                    </ul>
                </div>
            </div>
        </div>
    </main>

    <footer class="pie">  
        <div class="izq_pie">
          <img class="logo_pie" src="../img\MetaGamesLogo_3.png" alt="Logo de Meta-Games blanco">
        </div>
  
        <div class="centro_pie">
          <span>Siguenos en: </span>
          <a href="https://www.instagram.com/"><img class="fa-instagram" src="../icons/instagram.svg" alt="Logo de Instagram"></a>
          <a href="https://www.facebook.com/"><img class="fa-facebook-f" src="../icons/facebook.svg" alt="Logo de Instagram"></a>
          <a href="https://twitter.com/"><img class="fa-google-plus-g" src="../icons/twitter.svg" alt="Logo de Instagram"></a>
        </div>
  
        <div class="der_pie">
          <span>MetaGames © 2023</span>
        </div>      
      </footer>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>