<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Somos la tienda de videojuegos con el mejor catalogo de videojuegos online y al mejor precio">
    <meta name="keywords" content="games, videogames, pc, computers, gamers">
    <meta name="author" content="Diego Sanchez, David Coo, Nicolas Carcamo">
    <title>Nosotros</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/Styles.css">
    <link rel="icon" href="../icons/favicon_2.svg">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Source+Code+Pro&display=swap" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
</head>

<body class="cuerpo">
    <nav class="izquierda">
        <img class="logo" src="../img/MetaGamesLogo_2.png" alt="Logo de Meta-Games"> 

        <ul>
          <li> <img src="../icons/Inicio.svg" alt="icon inicio"> <a href="../index.html">Inicio</a></li>
          <li> <img src="../icons/Nosotros.svg" alt="icon nosotros"> <a href="Nosotros.html">Nosotros</a></li>
          <li> <img src="../icons/Retro.svg" alt="icon retrogames"> <a href="RetroGames.html">Retro Games</a></li>
          <li> <img src="../icons/Nuevos.svg" alt="icon nuevos"> <a href="NewGames.html">New Games</a></li>
          <li> <img src="../icons/Clasicos.svg" alt="icon clasicos"> <a href="ClassicGames.html">Classic Games</a></li>
          <li> <img src="../icons/Contactanos.svg"alt="icon contacto"> <a href="Contactanos.html">Contacto</a></li>
       </ul> 
    </nav>

    <header class="cabecera">
        <div class="search">
            <span class="uil uil-search">
            </span>
            <input placeholder="Buscar...." type="text" />
            
          </div>
        <a class="sing-in" href="Registrarse.html">Registrarse</a>
        <a class="log-in" href="IniciarSesion.html">Iniciar Sesión</a>
    </header>

    <main class="contenido">
        <div class="titulo-pagina"><span>Te contamos sobre nosotros</span></div>

        <p class="texto">Somos una plataforma en línea dedicada a brindar acceso a una amplia variedad de videojuegos para que los usuarios los descarguen y disfruten en sus dispositivos. En nuestra página, encontrarás una gran variedad de juegos de diferentes géneros, incluyendo acción, aventura, deportes, estrategia y mucho más. Todos nuestros juegos son de alta calidad y están libres de virus y malware para garantizar que tu experiencia de descarga sea segura y libre de problemas.</p>
        <p class="texto">Además, contamos con un sistema de clasificación y comentarios para ayudarte a tomar decisiones informadas al momento de descargar juegos. Puedes leer los comentarios de otros usuarios y conocer su experiencia con el juego antes de descargarlo. </p>

        <div class="articulo">
            <div class="left"><p>Nuestro objetivo es ofrecerte la mejor experiencia de descarga de videojuegos posible. En Meta-Games trabajamos arduamente para asegurarnos de que todos nuestros juegos estén actualizados y disponibles para descargar de manera rápida y fácil.</p></div>
            <img class="right" src="../img/gamer.jpg"></div>  
        </div>

        <p class="texto">También ofrecemos soporte técnico para ayudarte en cualquier problema que puedas encontrar durante la descarga o instalación del juego. Nuestro equipo está disponible las 24 horas del día, los 7 días de la semana para ayudarte en cualquier pregunta o problema que puedas tener. </p>

        <div class="titulo-pagina"><img src="../icons/Nosotros.svg"><span>Conoce a nuestro equipo de trabajo</span></div>

        <div class="card-group">
          <div class="card" id="perfil">
            <img class="card-img-top" src="../img/Perfil_Diego.jpg">
            <div class="card-body">
                <h5 class="card-title">Diego Sánchez</h5>
                <p class="card-text">Manager de proyecto <br> Desarrollador Back-end</p>
                <a href="https://www.linkedin.com/in/diego-sanchez-46931013b/" class="btn btn-primary">Perfil de Linkedin</a>
            </div>
          </div>
          <div class="card" id="perfil">
            <img class="card-img-top" src="../img/Perfil_David.jpg">
            <div class="card-body">
                <h5 class="card-title">David Coo</h5>
                <p class="card-text">Desarrollador Back-end <br> Tester </p>
                <a href="https://www.linkedin.com/" class="btn btn-primary">Perfil de Linkedin</a>
            </div>
          </div>
          <div class="card" id="perfil">
            <img class="card-img-top" src="../img/Perfil_Nicolas.jpg">
            <div class="card-body">
                <h5 class="card-title">Nicolas Cárcamo</h5>
                <p class="card-text">Desarrollador Front-end <br> Diseñador UI/UX </p>
                <a href="https://www.linkedin.com/in/nicolas-carcamo-hernandez-740799252/" class="btn btn-primary">Perfil de Linkedin</a>
              </div>
          </div>
        </div>

        <p class="texto">En nuestra página de descarga de videojuegos, nos esforzamos por ofrecer la mejor experiencia posible a nuestros usuarios. Gracias por visitarnos y esperamos que disfrutes de nuestros juegos.</p>

    </main>

    <footer class="pie">  
        <div class="izq_pie">
          <img class="logo_pie" src="../img\MetaGamesLogo_3.png" alt="Logo de Meta-Games blanco">
        </div>
  
        <div class="centro_pie">
          <span>Siguenos en: </span>
          <a href="https://www.instagram.com/"><img class="fa-instagram" src="../icons/instagram.svg" alt="Logo de Instagram"></a>
          <a href="https://www.facebook.com/"><img class="fa-facebook-f" src="../icons/facebook.svg" alt="Logo de Instagram"></a>
          <a href="https://twitter.com/"><img class="fa-google-plus-g" src="../icons/twitter.svg" alt="Logo de Instagram"></a>
        </div>
  
        <div class="der_pie">
          <span>MetaGames © 2023</span>
        </div>      
      </footer>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>