<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Somos la tienda de videojuegos con el mejor catalogo de videojuegos online y al mejor precio">
    <meta name="keywords" content="games, videogames, pc, computers, gamers">
    <meta name="author" content="Diego Sanchez, David Coo, Nicolas Carcamo">
    <title>Classic Games</title>
    <link rel="stylesheet" href="../css\Styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="icon" href="../icons/favicon_2.svg">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Source+Code+Pro&display=swap" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
</head>

<body class="cuerpo">
    <nav class="izquierda">
        <img class="logo" src="../img/MetaGamesLogo_2.png" alt="Logo de Meta-Games">

        <ul>
            <li> <img src="../icons/Inicio.svg" alt="icon inicio"> <a href="../index.html">Inicio</a></li>
            <li> <img src="../icons/Nosotros.svg" alt="icon nosotros"> <a href="Nosotros.html">Nosotros</a></li>
            <li> <img src="../icons/Retro.svg" alt="icon retrogames"> <a href="RetroGames.html">Retro Games</a></li>
            <li> <img src="../icons/Nuevos.svg" alt="icon nuevos"> <a href="NewGames.html">New Games</a></li>
            <li> <img src="../icons/Clasicos.svg" alt="icon clasicos"> <a href="ClassicGames.html">Classic Games</a></li>
            <li> <img src="../icons/Contactanos.svg"alt="icon contacto"> <a href="Contactanos.html">Contacto</a></li>
       </ul> 
    </nav>

    <header class="cabecera">
        <div class="search">
            <span class="uil uil-search">
            </span>
            <input placeholder="Buscar...." type="text" />
            
          </div>
        <a class="sing-in" href="Registrarse.html">Registrarse</a>
        <a class="log-in" href="IniciarSesion.html">Iniciar Sesión</a>
    </header>

    <main class="contenido">

        <div class="titulo-pagina"><img src="../icons/Retro.svg"><span>Juegos Retro</span></div>

        <!-- Seccion 1-->

        <section class="fila">
            <div class="card" id="game" style="width: 18rem;">
                <img class="card-img-top" src="../img/retro/Quake (1).jpg" alt="Card image cap" >
                <div class="card-body">
                  <h4 class="card-title">Quake</h4>
                  <p class="card-text">$5.000</p>
                  <a href="../torrents/quake.torrent" class="btn btn-dark btn-block">Descargar</a>
                </div>
            </div>
  
            <div class="card" id="game" style="width: 18rem;">
              <img class="card-img-top" src="../img/retro/silenthill1.jpg" alt="Card image cap" >
              <div class="card-body">
                <h4 class="card-title">Silent Hill</h4>
                <p class="card-text">$5.000</p>
                <a href="../torrents/silent-hill.torrent" class="btn btn-dark btn-block">Descargar</a>
              </div>
            </div>
  
            <div class="card" id="game" style="width: 18rem;">
              <img class="card-img-top" src="../img/retro/streetfighter2.jpg" alt="Card image cap" >
              <div class="card-body">
                <h4 class="card-title">Street Fighter II</h4>
                <p class="card-text">$5.000</p>
                <a href="../torrents/street-fighter-street-fighter-2-world-warrior.torrent" class="btn btn-dark btn-block">Descargar</a>
              </div>
            </div>
  
            <div class="card" id="game" style="width: 18rem;">
              <img class="card-img-top" src="../img/retro/System Shock 2.jpg" alt="Card image cap" >
              <div class="card-body">
                <h4 class="card-title">System Shock 2</h4>
                <p class="card-text">$5.000</p>
                <a href="../torrents/system-shock-2.torrent" class="btn btn-dark btn-block">Descargar</a>
              </div>
            </div>
          
        </section>

        <!-- Seccion 2-->

        <section class="fila">
            <div class="card" id="game" style="width: 18rem;">
                <img class="card-img-top" src="../img/retro/The Curse of Monkey Island.jpeg" alt="Card image cap" >
                <div class="card-body">
                  <h6 class="card-title">The Curse Of Monkey Island</h6>
                  <p class="card-text">$5.000</p>
                  <a href="../torrents/the-curse-of-monkey-island.torrent" class="btn btn-dark btn-block">Descargar</a>
                </div>
            </div>
  
            <div class="card" id="game" style="width: 18rem;">
              <img class="card-img-top" src="../img/retro/The Longest Journey.jpg" alt="Card image cap" >
              <div class="card-body">
                <h4 class="card-title">The Longest Journeyl</h4>
                <p class="card-text">$5.000</p>
                <a href="../torrents/the-longest-journey.torrent" class="btn btn-dark btn-block">Descargar</a>
              </div>
            </div>
  
            <div class="card" id="game" style="width: 18rem;">
              <img class="card-img-top" src="../img/retro/warcraft 2.jpg" alt="Card image cap" >
              <div class="card-body">
                <h4 class="card-title">WarCraft II</h4>
                <p class="card-text">$5.000</p>
                <a href="../torrents/warcraft-ii.torrent" class="btn btn-dark btn-block">Descargar</a>
              </div>
            </div>
  
            <div class="card" id="game" style="width: 18rem;">
              <img class="card-img-top" src="../img/retro/Wolfenstein_3D_portada.jpg" alt="Card image cap" >
              <div class="card-body">
                <h4 class="card-title">Wolfenstein 3D</h4>
                <p class="card-text">$5.000</p>
                <a href="../torrents/wolfenstein-3d.torrent" class="btn btn-dark btn-block">Descargar</a>
              </div>
            </div>
          
        </section>

        <div class="navegacion">
            <a class="boton"href="RetroGames.html">ANTERIOR</a>
            
        </div>
    </main>

    <footer class="pie">  
        <div class="izq_pie">
          <img class="logo_pie" src="../img\MetaGamesLogo_3.png" alt="Logo de Meta-Games blanco">
        </div>
  
        <div class="centro_pie">
          <span>Siguenos en: </span>
          <a href="https://www.instagram.com/"><img class="fa-instagram" src="../icons/instagram.svg" alt="Logo de Instagram"></a>
          <a href="https://www.facebook.com/"><img class="fa-facebook-f" src="../icons/facebook.svg" alt="Logo de Instagram"></a>
          <a href="https://twitter.com/"><img class="fa-google-plus-g" src="../icons/twitter.svg" alt="Logo de Instagram"></a>
        </div>
  
        <div class="der_pie">
          <span>MetaGames © 2023</span>
        </div>      
    </footer>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>