{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Somos la tienda de videojuegos con el mejor catalogo de videojuegos online y al mejor precio">
    <meta name="keywords" content="games, videogames, pc, computers, gamers">
    <meta name="author" content="Diego Sanchez, David Coo, Nicolas Carcamo">
    <title>Meta Games</title>
    <link rel="icon" href="{% static 'ongapp/icons/favicon_2.svg' %}"/> 

    <link rel="stylesheet" href="{% static 'ongapp/styles.css'%}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="{% static 'ongapp/js/API.js' %}"></script>
    <script src="{% static 'ongapp/js/main.js' %}"></script>
</head>

<body class="cuerpo"> 
    <nav class="izquierda">
        <img class="logo" src="{% static 'ongapp/img/MetaGamesLogo_2.png' %}" alt="Logo de Meta-Games">
        <ul>
          <li> <img src="{% static 'ongapp/icons/Inicio.svg' %}" alt="icon inicio"> <a href="{% url 'index' %}">Inicio</a></li>
          <li> <img src="{% static 'ongapp/icons/Nosotros.svg' %}" alt="icon nosotros"> <a href="{% url 'nosotros' %}">Nosotros</a></li>
          <li> <img src="{% static 'ongapp/icons/Retro.svg' %}" alt="icon retrogames"> <a href="{% url 'retrogames' %}">Retro Games</a></li>
          <li> <img src="{% static 'ongapp/icons/Nuevos.svg' %}" alt="icon nuevos"> <a href="{% url 'newgames' %}">New Games</a></li>
          <li> <img src="{% static 'ongapp/icons/Clasicos.svg' %}" alt="icon clasicos"> <a href="{% url 'classicgames' %}">Classic Games</a></li>
          <li> <img src="{% static 'ongapp/icons/Contactanos.svg' %}"alt="icon contacto"> <a href="{% url 'contactanos' %}">Contacto</a></li>
       </ul>
    </nav>

    <header class="cabecera">
     
        <div class="search">
          <span class="uil uil-search">
          </span>
          <input id="searchInput" placeholder="Buscar...." type="text" />
          
        </div>
         <a class="sing-in" href=" {% url 'registrarse' %}">Registrarse</a>
        <a class="log-in" href="{% url 'iniciarsesion' %}">Iniciar Sesión</a>
       
    </header>

    <main class="contenido">
      
      <div class="titulo-pagina"><span>¡Bienvenido a Meta Games!</span></div>

      <div class="slide">
        <div class="slide-inner">
            <input class="slide-open" type="radio" id="slide-1"name="slide" aria-hidden="true" hidden="" checked="checked">
            <div class="slide-item"><a href="http://naruto-game.bngames.net/"><img src="{% static 'ongapp/img/sliders/01.png' %}" alt="img slider"></a></div>

            <input class="slide-open" type="radio" id="slide-2" name="slide" aria-hidden="true" hidden="">
            <div class="slide-item"><a href="https://playstation.com/god-of-war"><img src="{% static 'ongapp/img/sliders/02.png' %}" alt="img slider2"></a></div>

            <input class="slide-open" type="radio" id="slide-3" name="slide" aria-hidden="true" hidden="">
            <div class="slide-item"><a href="https://www.rockstargames.com/es/games/reddeadredemption2"> <img src="{% static 'ongapp/img/sliders/03.png' %}" alt="img slider3"> </a></div>
            
            <label for="slide-2" class="slide-control next control-1"><img src="{% static 'ongapp/icons/right-arrow.svg' %}" alt="arrow"></label>
            <label for="slide-3" class="slide-control next control-2"><img src="{% static 'ongapp/icons/right-arrow.svg' %}" alt="arrow"></label> 
            <label for="slide-1" class="slide-control next control-3"><img src="{% static 'ongappicons/right-arrow.svg' %}"alt="arrow"></label>

            <label for="slide-3" class="slide-control prev control-1"><img src="{% static 'ongapp/icons/left-arrow.svg' %}"alt="arrow"></label>
            <label for="slide-1" class="slide-control prev control-2"><img src="{% static 'ongapp/icons/left-arrow.svg' %}"alt="arrow"></label>
            <label for="slide-2" class="slide-control prev control-3"><img src="{% static 'ongapp/icons/left-arrow.svg' %}"alt="arrow"></label>
                       
            <ol class="slide-indicador">
                <li><label for="slide-1" class="slide-circulo">•</label></li>
                <li><label for="slide-2" class="slide-circulo">•</label></li>
                <li><label for="slide-3" class="slide-circulo">•</label></li>
            </ol>
        </div>
      </div>

      <div class="titulo-pagina"><span>Juegos Destacados</span></div>

      <section class="fila">
        <div class="image-container">
          <div class="card" data-categoria="Accion" data-categoria="Mundo-Abierto" style="width: 18rem;" id="game">
              <img class="card-img-top" src="{% static 'ongapp/img/classic/gta52.jpg' %}" alt="Card image cap">
              <div class="word-overlay">Accion/Mundo Abierto</div>
              <div class="card-body">
                <h5 class="card-title">Grand Theft Auto V</h5>
                <p class="card-text">$5.000</p>
                <a href="torrents/gta5.torrent" class="btn btn-dark btn-block">Descargar</a>
              </div>
              </div>
          </div>

          <div class="image-container">
          <div class="card" data-categoria:="Carreras" data-categoria:="Automoviles" style="width: 18rem;" id="game">
            <img class="card-img-top" src="{% static 'ongapp/img/new/forza_horizon_5 (1).jpg' %}" alt="Card image cap">
            <div class="word-overlay">Carreras/Automoviles</div>
            <div class="card-body">
              <h5 class="card-title">Forza Horizon 5</h5>
              <p class="card-text">$5.000</p>
              <a href="torrents/forzahorizon5.torrent" class="btn btn-dark btn-block">Descargar</a>
            </div>
            </div>
          </div>

          <div class="image-container">
          <div class="card" data-categoria:="Accion" data-categoria:="RPG" style="width: 18rem;" id="game">
            <img class="card-img-top" src="{% static 'ongapp/img/new/the_witcher_3.jpg' %}" alt="Card image cap">
            <div class="word-overlay">Accion/RPG</div>
            <div class="card-body">
              <h5 class="card-title">The Witcher 3</h5>
              <p class="card-text">$5.000</p>
              <a href="torrents/thewitcher3.torrent" class="btn btn-dark btn-block">Descargar</a>
            </div>
            </div>
          </div>
          
          <div class="image-container">
          <div class="card" data-categoria:="Accion" data-categoria:="RPG"  style="width: 18rem;" id="game">
            <img class="card-img-top" src="{% static 'ongapp/img/new/elden_ring.jpg' %}" alt="Card image cap">
            <div class="word-overlay">Accion/RPG</div>
            <div class="card-body">
              <h5 class="card-title">Elden Ring</h5>
              <p class="card-text">$5.000</p>
              <a href="https://www.gamestorrents.fm/wp-content/uploads/files/1672233001-ELDEN.RING.Deluxe.Edition.v1.08.1-P2P.torrent" class="btn btn-dark btn-block">Descargar</a>
            </div>
            </div>
          </div>
        
      </section>

      <div class="titulo-pagina"><span>Tabla de puntuación de videojuegos</span></div>

      <table class="table table-striped table-borderless table-dark" id="tablajuegos">
        <thead>
          <tr>
            <th>Puesto</th>
            <th>Portada</th>
            <th>Juego</th>
            <th>Puntuación Metacritics</th>
            <th>Puntuación Usuarios</th>
          </tr>
        </thead>
        <tbody>
    
        </tbody>
      </table> 
      
      <button type="button" class="btn btn-dark " id="traer"> Presiona aqui para llenar la tabla </button>
    </main>
              
    <footer class="pie">  
      <div class="izq_pie">
        <img class="logo_pie" src="{% static 'ongapp/img/MetaGamesLogo_3.png' %}" alt="Logo de Meta-Games blanco">
      </div>

      <div class="centro_pie">
        <span>Siguenos en: </span>
        <a href="https://www.instagram.com/"><img class="fa-instagram" src="{% static 'ongapp/icons/instagram.svg' %}" alt="Logo de instagram"></a>
        <a href="https://www.facebook.com/"><img class="fa-facebook-f" src="{% static 'ongapp/icons/facebook.svg' %}" alt="Logo de facebook"></a>
        <a href="https://twitter.com/"><img class="fa-google-plus-g" src="{% static 'ongapp/icons/twitter.svg' %}" alt="Logo de twitter"></a>
      </div>

      <div class="der_pie">
        <span>MetaGames © 2023</span>
      </div>      
    </footer>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"> </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"> </script>
</body>
</html>