.cuerpo {
  margin-top: 0%;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 0%;
  margin: 0px;
  padding: 0px;
  background: #18181a;
}

.izquierda {
  position: absolute;
  width: 18%;
  height: 100%;
  color: white;
  position: fixed;
}

.izquierda ul li {
  list-style: none;
  padding: 5%;
  opacity: 0.5;
  transition: 0.4s;
}


.izquierda ul li a {
  text-decoration: none;
  color: white;
  opacity: 0.9;
  font-size: large;
}

.izquierda ul li:hover {
  opacity: 1;
  color: white;
}

.izquierda ul img {
  background: #3a40518b;
  height: 30px;
  margin-bottom: 10px;
  transition: 0.5s;

  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}


.search {
  display: inline-flex;

  border-radius: 50px;
  transition: 0.4s;
}

.search:hover {
  background: rgba(255, 255, 255, 0.15);
}

.search:hover input {
  max-width: 350px;
}

.search input {
  background: transparent;
  border: 0;
  max-width: 0;
  padding: 0;
  text-indent: 12px;
  color: #f9f9f9;
  font-size: 18px;
  font-family: "Poppins";
  outline: none;
  transition: 0.4s;
}

.search input::placeholder {
  color: rgba(255, 255, 255, 0.375);
}

.search span {
  display: grid;
  place-items: center;
  width: 40px;
  height: 40px;
  background: #3c3940;
  color: #f9f9f9;
  border-radius: inherit;
  font-size: 24px;
  pointer-events: none;
}

.logo {
  width: 65%;
  padding-left: 25%;
  padding-top: 15%;
  padding-bottom: 30%;
  transition: 0.5s;
}

.logo:hover {
  transform: scale(1.2);
}

.cabecera {
  margin-left: 18%;
  border-left: 2px solid #262628;
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 1%;
}

.log-in {
  font-size: medium;
  text-decoration: none;
  color: gray;
  transition: 0.4s;
  float: right;
  background-color: #262628;

  padding-left: 2%;
  padding-right: 1.5%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-right: 1px solid #18181a;
}

.log-in:hover {
  text-decoration: none;
  background-color: #363638;
  color: white;
}

.sing-in {
  font-size: medium;
  text-decoration: none;
  color: gray;
  transition: 0.4s;
  float: right;
  background-color: #262628;

  padding-left: 1.5%;
  padding-right: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border-left: 1px solid #18181a;
}

.sing-in:hover {
  text-decoration: none;
  background-color: #363638;
  color: white;
}

.contenido {
  margin-left: 18%;
  border-left: 2px solid #262628;
  min-height: 900px;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
}

.titulo-pagina {
  padding-bottom: 20px;
  text-align: center;
  color: rgb(243, 237, 237);
  font-size: 40px;
  font-weight: 500;
  opacity: 0.7;
}

.titulo-pagina_con {
  padding-bottom: 20px;
  text-align: left;
  color: rgb(243, 237, 237);
  font-size: 40px;
  font-weight: 500;
  opacity: 0.7;
}

.titulo-pagina_con img {
  height: 60px;
  padding-right: 2%;
}
.titulo-paginaG {
  padding-top: 50px;
  text-align: left;
  color: rgb(243, 237, 237);
  font-size: 40px;
  font-weight: 500;
  opacity: 0.5;
}

.titulo-pagina img {
  height: 60px;
  padding-right: 2%;
}

.estrellas {
  height: 40px;
  padding-right: 0%;
}

.puntaje {
  font-size: 20px;
  text-decoration: none;
  color: gray;
  float: right;
  padding: 0.7%;
  padding-left: 2%;
  padding-right: 2%;
  margin-left: 2%;
  margin-right: 78%;
  border-radius: 10px;
  background-color: #262628;
  border-width: 0px;
}
.fila {
  padding-left: 3%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  display: flex;
  justify-content: space-between;
}

.juego {
  color: gray;
  text-decoration: none;
  text-align: center;
  transition: 0.4s;
}

.juego:hover {
  opacity: 1;
  color: white;
  text-decoration: none;
}

.titulo {
  color: black;
  text-align: left;
  font-size: 25px;
  font-weight: 500;
}

.tituloR {
  font-size: 20px;
  font-weight: 500;
}

.tituloTE {
  font-size: 16px;
  font-weight: 500;
}

.tituloLG {
  font-size: 17px;
  font-weight: 500;
}

.tituloTL {
  font-size: 20px;
  font-weight: 500;
}

.tituloA {
  font-size: 20px;
  font-weight: 500;
}

.tituloC {
  font-size: 20px;
  font-weight: 500;
}

.tituloK {
  font-size: 20px;
  font-weight: 500;
}

.tituloN {
  font-size: 20px;
  font-weight: 500;
}

.tituloW {
  font-size: 18px;
  font-weight: 500;
}

.tituloS {
  font-size: 20px;
  font-weight: 500;
}

.tituloNU {
  font-size: 17px;
  font-weight: 500;
}

.tituloNA {
  font-size: 16px;
  font-weight: 500;
}

.precio {
  color: rgb(251, 251, 251);
  font-size: 20px;
  font-weight: 300;
}

.cover {
  opacity: 1;
  display: block;
  height: 350px;
  transition: transform 0.15s;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.cover:hover {
  transform: scale(1.05);
}

.navegacion {
  text-align: center;
  font-size: medium;
  font-weight: 400;
  transition: all 0.3s ease;
  padding: 3%;
}

.boton {
  opacity: 0.5;
  color: White;
  text-decoration: none;
  transition: 0.4s;
  padding: 1.5%;
  padding-left: 3%;
  padding-right: 3%;
  margin-left: 2%;
  margin-right: 5%;
  border-radius: 10px;
  background-color: #262628;
}

.boton:hover {
  opacity: 1;
  color: White;
  text-decoration: none;
  background-color: #363638;
}

.texto {
  color: gray;
  font-size: large;
  text-align: justify;
  margin: 3%;
}

.articulo {
  margin-top: 5%;
  margin-bottom: 5%;
  color: white;
  opacity: 0.5;
  font-size: larger;
  text-align: justify;
  background-color: #262628;
  border-radius: 20px;

  height: auto;
  transition: 0.4s;
  position: relative;

  display: flex;
}

.articulo:hover {
  opacity: 1;
}

.left {
  float: left;
  width: 60%;
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  width: 40%;
  height: auto;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

.pie {
  position: absolute;
  width: 100%;
  height: 20%;
  background-color: #262628;
  text-align: center;
  color: white;
  padding: 2%;
}

.logo_pie {
  height: 90px;
}

.icono_pie {
  height: 40px;
}

.pie a {
  display: inline;
  padding-left: 4%;
}

.izq_pie {
  float: left;
  width: 35%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
}

.der_pie {
  float: right;
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
}

.centro_pie {
  float: left;
  width: 35%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
}

.pie span {
  font-size: large;
  vertical-align: middle;
}

.table {
  border: 2px solid white;
  border-radius: 20px;
  background-size: cover;
  border: solid;
  margin-top: 2%;
}

.text-center {
  color: white;
}

th {
  color: white;
}

#game{
  text-align: center;
  border: 0px;
  background-color: #18181a;
}

#game p {
  font-size: 20px;
}

#game-img{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#perfil{
  opacity: .7;
  transition: transform 0.15s;
}

#perfil:hover {
  opacity: 1;
}

.card {
  background-color: transparent;
  border: 0px;
  transition: transform 0.15s;
  
}

.card:hover {
  transform: scale(1.05);
}

.card-body {
  color: white;
  background-color: #262628;
}

.formulario{
  color: grey;
  background-color: #262628;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 3%;
  padding-bottom: 3%;
  border-radius: 30px;
}

.formulario button{
  display: inline;
  flex-direction: row;
  margin: 1%;
}

.formulario h3{
  text-align: center;
  margin-bottom: 2%;
}

.formulario h5{
  text-align: center;
}

.formulario label{
  color: #CCCCCC;
}

.formulario input{
  color: grey;
  background: #18181A;
  border: 0px;
}

.formulario input:focus{
  color: grey;
  background: #18181A;
  border: 0px solid grey;
}

.formulario input::placeholder{
  color: grey;
}

.formulario select{
  color: grey;
  background: #18181A;
  border: 0px;
}

.formulario select:focus{
  color: grey;
  background: #18181A;
  border: 0px;
}

.formulario textarea{
  color: grey;
  background: #18181A;
  border: 0px;
}

.formulario textarea:focus{
  color: grey;
  background: #18181A;
  border: 0px;
}

.title-f {
  text-align: center;
  color: white;
  margin-bottom: 20px;
  text-decoration: underline;
}

.mensaje {
  margin-left: 27px;
}
.mensaje label {
  margin-left: -6px;
  box-sizing: border-box;
}
.texto_mensaje {
  width: 97.5%;
  height: 50px;
  background-color: #26282c;
}

.redes {
  margin-left: 280px;
}

.redes img {
  width: 200px;
  height: 200px;
}

#tablajuegos{
  text-align: center;
  border: 0px;
  border-radius: 15px;
  margin-bottom: 3%;
}

#tablajuegos img{
  vertical-align: middle;
}

.table a {
  text-decoration: none;
  color: rgb(252, 252, 252);
}
.table a:hover {
  text-decoration: none;
  color: red;
}

.category-title {
  float: left;
  list-style: none;
}
.category a {
  text-decoration: none;
  color: white;
}

.category a:hover {
  text-decoration: none;
  color: aqua;
}
.iluJC {
  transition: 0.4s;
}

.iluJC:hover {
  transition: 0.4s;
}

.slide {
  position: relative;
  margin-top: 2%;
  margin-bottom: 2%;
}

.slide-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.slide-open:checked + .slide-item {
  position: static;
  opacity: 100;
}

.slide-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}

.slide-item img {
  display: block;
  width: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  background-size: cover;
}

.slide-control {
  cursor: pointer;
  position: absolute;
  top: 50%;
  text-align: center;
  z-index: 10;
  transition: 0.4s;
  display: none;
}

.slide-control.prev {
  opacity: 0.5;
  left: 2%;
}
.slide-control.next {
  opacity: 0.5;
  right: 2%;
}
.slide-control:hover {
  opacity: 0.8;
  transform: scale(1.5);
}

.slide-control img {
  height: 40px;
}

#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3 {
  display: block;
}

.slide-indicador {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}
.slide-indicador li {
  display: inline-block;
  margin: 0 5px;
}
.slide-circulo {
  color: white;
  cursor: pointer;
  display: block;
  font-size: 35px;
}
.slide-circulo:hover {
  color: #8f6262;
}
#slide-1:checked ~ .control-1 ~ .slide-indicador li:nth-child(1) .slide-circulo,
#slide-2:checked ~ .control-2 ~ .slide-indicador li:nth-child(2) .slide-circulo,
#slide-3:checked
  ~ .control-3
  ~ .slide-indicador
  li:nth-child(3)
  .slide-circulo {
  color: red;
}
#titulo {
  width: 100%;
  position: absolute;
  padding: 0px;
  margin: 0px auto;
  text-align: center;
  font-size: 27px;
  color: rgba(255, 255, 255, 1);
  font-family: "Open Sans", sans-serif;
  z-index: 9999;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33),
    -1px 0px 2px rgba(255, 255, 255, 0);
}

.check {
  width: 100px;
  margin-top: 150px;
  margin-left: 190px;
}

.gracia1 {
  margin-right: 60px;
  margin-top: 182px;
  float: right;
  font-size: 30px;
  color: white;
  border: 1px solid rgb(255, 252, 252);
}

.imagenjuego {
  border-radius: 10px;
}

.slide-innerM {
  padding: 30%;
  padding-left: 0rem;
  padding-top: 0rem;
}

.slide-controlM {
  cursor: pointer;
  position: absolute;
  top: 50%;
  text-align: center;
  z-index: 10;
  transition: 0.4s;
  display: none;
}

.slide-controlM.prev {
  opacity: 0.5;
  left: 2%;
  top: 27%;
}
.slide-controlM.next {
  opacity: 0.5;
  right: 32%;
  top: 27%;
}
.slide-controlM:hover {
  opacity: 0.8;
  transform: scale(1.5);
}

.slide-controlM img {
  height: 40px;
}

.iframegames {
  z-index: inherit;
  border-radius: 10px;
}

.genero {
  margin-top: -24rem;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}

.generoP {
  color: rgb(255, 255, 255);
  opacity: 0.5;
  font-size: 20px;
  margin-top: -1rem;
}

.generoPa {
  color: rgb(255, 255, 255);
  opacity: 0.5;
  font-size: 18px;
  width: 1000px;
  height: 100px;
  font-weight: 10;
  margin-top: -0.5rem;
}

.generoPe {
  color: rgb(255, 255, 255);
  opacity: 0.5;
}

.generoPx {
  font-size: 30px;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}

.buttonPun{
  opacity: 0.5;
  color: White;
  text-decoration: none;
  transition: 0.4s;
  padding: 1.5%;
  padding-left: 2%;
  padding-right: 2%;
  margin-left: 2%;
  margin-right: 5%;
  border-radius: 10px;
  background-color: #262628;
}

.buttonPun:hover{
  opacity: 0.5;
  text-decoration: none;
}

.centro_pie a img{
  border-radius: 10px;
  width: 50px;
}
.fa-facebook-f:hover{
  background: #41579A;
  color: #fff;
}
.fa-google-plus-g:hover{
  background: #3973d1;
  color: #fff;
}

.fa-instagram:hover{
  background: linear-gradient(to top right, #FCDE30, #E9712A, #D2313B, #AE4198, #7540A1, #5443A8);
  color: #fff;
}

.error {
  color: #9c423b;
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #18181A inset !important;
}
input:-webkit-autofill{
  -webkit-text-fill-color: grey !important;
}




.image-container {
  position: relative;
}

.word-overlay {
  position: absolute;
  top: 65%;
  left: 3%;
  transform: translateX(-3%);
  color: rgba(255, 255, 255, 0.822);
  font-size: 15px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.card:hover .word-overlay {
  transform: translateX(0);
  opacity: 0.9;
}

.listreq{
  color: rgb(255, 255, 255);
  opacity: 0.5;
}


